.main {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30% 70%;
  margin: 0 25px;
}

.main__desk {
  grid-column: span 2;
  background-image: url("../../../img/desk.jpg");
  background-size: cover;
  margin: 15px 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desk__inner {
  display: block;
  background-image: url("../../../img/plate.png");
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}

.desk__inner.light {
  box-shadow: 0 0 5px 2px #fff;
  border-radius: 100%;
}

.main__editor,
.main__code {
  background-color: #19444A;
}

.editor__head,
.code__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 10%;
}

.editor__body {
  background-color: #fff;
  height: 90%;
  display: flex;
  align-items: flex-start;
}

.editor__body-line {
  overflow: hidden;
  color: #999;
  background: #DDD;
  padding: 3px 10px;
  height: 100%;
  text-align: right;
}

.code__body div {
  padding-left: 20px;
}

.table {
  color: #333;
}

.code__body * {
  color: #333;
}

.light {
  color: #fff;
}

.code__body {
  height: 90%;
}

.code {
  color: #fff;
}

.animate {
  animation: anim 1.2s infinite;
}

@keyframes anim {
  0% {
    transform: skew(0deg) scaleY(1);
    animation-timing-function: ease-in;
  }

  50% {
    transform: skew(5deg) scaleY(.9);
    animation-timing-function: ease-out;
  }
  100% {
    transform: skew(0deg) scaleX(1);
    animation-timing-function: ease-out;
  }
}