.main {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 450px));
  grid-template-rows: 30% 70%;
  margin: 0 25px;
  justify-content: center;
}

.main__desk {
  grid-column: span 2;
  background-image: url("../../../img/desk.jpg");
  background-size: cover;
  margin: 15px 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desk__inner {
  display: block;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  &--plate {
    background-image: url("../../../img/plate.png");
  }
  &--spoon {
    background-image: url("../../../img/spoon.png");
    width: 40px;
    height: 80px;
    background-size: contain;
    background-position: center;
  }
  &--plate-for-kids {
    background-image: url("../../../img/plate-for-kids.png");
    width: 50px;
    height: 50px;
    background-position: center;
  }
}

.desk__inner.light {
  box-shadow: 0 0 5px 2px #fff;
  border-radius: 100%;
}

.main__editor,
.main__code {
  background-color: #2B211B;
}

.editor__head,
.code__head {
  background-color: #3C2418;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 10%;
  border-bottom: 1px solid #333;
}

.editor__body {
  background-color: #fff;
  height: 90%;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.editor__body-text {
  position: absolute;
  top: 21px;
  left: 39px;
  color: #AAA;
}

.editor__body-line {
  overflow: hidden;
  color: #999;
  background: #DDD;
  padding: 3px 10px;
  height: 100%;
  text-align: right;
}

.code__body-editor div {
  padding-left: 20px;
}

.table {
  color: #333;
}

.code__body * {
  color: #666;
}

.light {
  color: #fff;
}

.code__body {
  height: 90%;
  display: flex;
  align-items: flex-start;
}

.code__body-line {
  overflow: hidden;
  padding: 3px 10px;
  height: 100%;
  text-align: right;
  border-right: solid 1px #333;
}

.code {
  color: #fff;
}

.animate {
  animation: anim 1.2s infinite;
}

@keyframes anim {
  0% {
    transform: skew(0deg) scaleY(1);
    animation-timing-function: ease-in;
  }

  50% {
    transform: skew(5deg) scaleY(.9);
    animation-timing-function: ease-out;
  }
  100% {
    transform: skew(0deg) scaleX(1);
    animation-timing-function: ease-out;
  }
}

.false-answer {
  animation: false-answer .1s 5;
}

@keyframes false-answer {
  0%   {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(3px);
  }
}


.right-answer {
  animation: right-answer .2s 1;
  transform: translateY(-1000px);
}

@keyframes right-answer {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1000px);
  }
}
