.nav__items {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.nav__item {
  list-style-type: none;
}

.nav__btn {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
  transition: 0.2s ease;
}

.nav__btn:hover {
  transform: translateY(2px);
}