.nav__items {
  width: 175px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 10px;
}

.nav__item {
  list-style-type: none;
}

.nav__btn {
  cursor: pointer;
  border: none;
  background-color: #333;
  color: #fff;
  transition: 0.2s ease;
}

.nav__btn:hover {
  transform: translateY(2px);
}