*, *::after, *::before {
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}
html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    background: #FFFFFF;
}
.container {
    max-width: 1280px;
    padding: 0 40px;
    width: 100%;
    margin: 0 auto;
}
.wrapper {
    padding: 80px 0 100px;
}
.wrapper-bg {
    background-image: url(/assets/image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 0 60px;
    margin-bottom: 1px;
}
.logo {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.logo__title {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0 0 10px;
}
.logo__subtitle {
    font-size: 13px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.nav {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.nav__items {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.nav__item {
    list-style-type: none;
    line-height: 160%;
}
.nav__item:not(:last-child) {
    margin-right: 35px;
}
.nav__link {
    text-decoration: none;
    line-height: 160%;
    color: #CDCDCD;
}
.nav__link.active {
    color: #FAFAFA;
    padding-bottom: 5px;
    border-bottom: 3px solid #F1CDB3;;
}
/*not-only*/
.not-only {
    display: flex;
    justify-content: space-between;
}
.not-only__content {
    margin-top: 134px;
    flex: 0 0 460px;
}
.not-only__content-title {
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 40px;
}
.not-only__content-subtitle {
    line-height: 160%;
    color: #CDCDCD;
    margin-bottom: 42px;
}
.button {
    cursor: pointer;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    outline: none;
    border: none;
}
.not-only__img {
    align-self: flex-end;
}
/*--about--*/
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 855px;
}
.about__img {
    background-image: url(/assets/image/about-pets.jpg);
    width: 300px;
    height: 408px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about__content {
    flex: 0 0 430px;
}
.about__content-title {
    margin-top: 0;
    margin-bottom: 25px;
    color: #545454;
}
.about__content-subtitle--top {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin-top: 0;
    margin-bottom: 28px;
}
.about__content-subtitle--bottom {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin: 0;
}
/* our-friends */
.our-friends {
    background: #F6F6F6;
}
.our-friends__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-friends__content-title {
    margin-top: 0;
    text-align: center;
    margin-bottom: 60px;
}
.title {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.swiper {
    position: relative;
    max-width: 990px;
    width: 100%;
}
.swiper__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.swiper__content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swiper__content-block-img {
    margin-bottom: 28px;
}
.swiper__content-block-title {
    margin-top: 0;
    font-size: 20px;
    line-height: 23px;
    color: #545454;
    margin-bottom: 31px;
}
.swiper__content-block-btn {
    padding: 15px 45px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 187px;
    font-size: 17px;
    cursor: pointer;
}
.swiper__btn-prev {
    position: absolute;
    width: 52px;
    height: 52px;
    left: -105px;
    top: 192px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-image: url(/assets/image/icons/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.swiper__btn-next {
    position: absolute;
    width: 52px;
    height: 52px;
    right: -105px;
    top: 192px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-image: url(/assets/image/icons/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    cursor: pointer;
}
.our-friends__content-swiper {
    margin-bottom: 88px;
}
/* help */
.help {
}
.help__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help__content-title {
    max-width: 370px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 60px;
}
.help-our {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1026px;
    column-gap: 119px;
    row-gap: 55px;
}
.help-our__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help-our__block-img {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}
.help-our__block-title {
    font-weight: 400;
    margin-top: 0;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    letter-spacing: 0.06em;
    margin-bottom: 0;
}
/* in-addition */
.in-addition {
    background: #F6F6F6;
}
.in-addition__content {
    max-width: 915px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.in-addition__content-img {
    flex: 0 1 505px;
}
.donation {
    flex: 0 1 380px;
}
.dontaion__title {
    margin-top: 0;
    max-width: 300px;
    margin-bottom: 20px;
}
.dontaion__subtitle {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 19px;
}
.donation__label {
    position: relative;
}
.donation__label::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 15px;
    width: 30px;
    height: 23px;
    background-image: url(/assets/image/credit-card.png);
    background-position: center;
}
.donation__input {
    font-size: 20px;
    line-height: 115%;
    padding: 10px 10px 10px 63px;
    gap: 10px;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    border: none;
    margin-bottom: 9px;
    letter-spacing: 0.06em;
}
.donation__rules {
    font-family: 'Arial';
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}