<main>
  <div class="input-create">
      <input class="input-create__text" type="text">
      <input class="input-create__color" type="color">
      <input class="input-create__submit" type="button" value="create">
  </div>
  <div class="input-update">
      <input class="input-update__text" type="text">
      <input class="input-update__color" type="color">
      <input class="input-update__submit" type="button" value="update">
  </div>
  <div class="block-btn">
    <input class="block-btn__input block-btn__race" type="button" value="race">
    <input class="block-btn__input block-btn__reset" type="button" value="reset">
    <input class="block-btn__input block-btn__generate" type="button" value="generate cars">
</div>
</main>