<div class="wrapper wrapper--active">
    <div class="input-create">
        <input class="input-create__text" type="text">
        <input class="input-create__color" type="color" value="#ffffff">
        <input class="input-create__submit" type="button" value="create">
    </div>
    <div class="input-update">
        <input class="input-update__text" type="text">
        <input class="input-update__color" type="color" value="#ffffff">
        <input class="input-update__submit" type="button" value="update">
    </div>
    <div class="block-btn">
        <input class="block-btn__input block-btn__race" type="button" value="race">
        <input class="block-btn__input block-btn__reset" type="button" value="reset">
        <button class="block-btn__input block-btn__generate" value="generate cars">generate cars</button>
    </div>
    <h1>Garage (<span class="garage__all-car"></span>)</h1>
    <h2>Page # <span class="garage__page"></span></h2>
    <div class="garage-with-car"></div>
</div>
