<div class="wrapper">
  <h1>Winners (<span class="winners__all-car"></span>)</h1>
  <h2>Page # <span class="winners__page"></span></h2>
  <table class="table">
    <thead>
      <tr>
        <td>№</td>
        <td>Image</td>
        <td>Name</td>
        <td>Wins number</td>
        <td>Best time, sec</td>
      </tr>
    </thead>
    <tbody class="winners-cars"></tbody>
  </table>
  <div class="pagination-winners">
    <button class="pagination-winners__prev" value="prev" disabled>prev</button>
    <button class="pagination-winners__next" value="next" disabled>next</button>
</div>
</div>